body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.hand {
  position: relative;
  width: 120px;
  height: 80px;
  transform: scale(2);
}

.finger {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 60px;
  height: 10px;
  background-color: white;
}

.thumb {
  position: absolute;
  top: 25px;
  left: 50px;
  width: 10px;
  height: 30px;
  background-color: white;
  transform: rotate(-30deg);
  transform-origin: top left;
}

.palm {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 40px;
  background-color: white;
}

.bullet {
  position: absolute;
  top: 10px;
  left: 90px;
  width: 6px;
  height: 6px;
  background: white;
  display: none;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  pointer-events: none;
}
